# project's gitignore
Proteos/proteus_Project.pdsprj.ASUS.MO\316\236I\320\230.9.workspace
"Proteos/proteus_Project.pdsprj.ASUS.MO\316\236I\320\230.9.workspace"
r"Proteos\proteus_Project.pdsprj.ASUS.MOΞIИ.9.workspace"